* {
    background: rgb(247, 249, 255);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: rgba(59, 59, 59, 0.7);
    font-size: 1.3em;
}
