---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1 class="post-title">Projects</h1>
    </header>
    
        {% for repo in site.data.repos.repositories %}
        <div class="project">
            {% for repository in site.github.public_repositories %}
                {% if repository.name == repo.name %}

                    <a rel="repo" href="{{ repository.html_url }}" title="{{ repository.name }}" target="_blank">{{ repository.name }}</a>
                    <p>{{ repository.description }}</p>

                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}

    </div>
</div>
